/* HEADER */

.header{
    background-color:var(--primary);
    position:sticky;/*header visible*/
    top:0;
    z-index:1000;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 5%;
    position:relative;
}

.logo{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:12px;
    color:white;
    font-size:1.2rem;/*logo-text space*/
    font-weight:700;
}

.logo-img{
    width:55px;
    height:55px;
    object-fit:contain;/*ajuste contenedor img*/
}
.logo span{
    line-height:1;
    display:block;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:1.5rem;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    text-decoration:underline;
}

.nav-actions{
    display:flex;
    align-items:center;
    gap:1rem;
}



/* MENÚ HAMBURGUESA */

.hamburger{
    display:none;
    background:none;
    border:none;
    color:white;
    font-size:2rem;
    cursor:pointer;
}