/*Animación*/
.card,
.btn,
.nav-links a,
.theme-btn,
.logo,
.stat,
.gallery img,
.contact-form button {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: inline-block;/*botones*/
}

.card:hover,
.btn:hover,
.nav-links a:hover,
.theme-btn:hover,
.logo:hover,
.stat:hover,
.gallery img:hover,
.contact-form button:hover {
    transform: translateY(-10px);
}

.map-container{
    width:100%;
}

.map-container iframe{
    width:100%;
    border:none;
    border-radius:12px;
    height:450px;
}

/* INFORMACIÓN + UBICACIÓN */

.contact-location{
    display:grid;
    grid-template-columns:1fr 2fr;
    gap:2rem;
    align-items:start;
}

.info-card,
.location-card{
    background:white;
    padding:2rem;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.info-card h2,
.location-card h2{
    color:var(--primary);
    margin-bottom:1.5rem;
}

.info-card p{
    margin-bottom:.8rem;
}

.card {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}

.card:hover,
.card:active {
    transform: translateY(-6px);
}

.btn:hover,
.btn:active {
    transform: translateY(-6px);
}

.gallery img:hover,
.gallery img:active {
    transform: translateY(-6px);
}

*{
    max-width:100%;
}